header {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-bottom: 3px solid gold;
  }
  
  .logo-container {
    display: inline-block;
    padding: 10px;
  }
  
  .logo {
    width: 80px;
  }
  
  h1 {
    color: lime; 
    font-family: 'Comic Sans MS', cursive, sans-serif; 
    font-size: 2.5em;
    text-shadow: 2px 2px purple;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  main {
    margin: 20px;
  }
  
  nav ul li a {
    color: cyan; 
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-shadow: 1px 1px black;
  }
  
  nav ul li a:hover {
    color: yellow;
    text-decoration: underline;
  }

  footer {
    font-size: 15px
    padding 10px;
    color: black;
  }
  

body {
    font-size: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: yellow;

    background-image: url('Images/sky.gif');
    background-repeat: repeat; 
    background-size: auto; 
    background-attachment: fixed; 
    background-position: top left; /
  }
  